<!DOCTYPE html>
<html>
  <head>
    <title><%= pets %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= pets %></h1>
    <p>Welcome to <%= pets %></p>
  </body>
</html>